In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy as sp
import sklearn
import matplotlib.pyplot as plt

In [4]:
clean_set=pd.read_csv(r'C:\Users\NSharma\Documents\datascience\HousingProject\dataset\clean_train_dataset.csv')

In [5]:
df=clean_set.copy()

In [6]:
df.head()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,room_per_household,population_per_household,total_bedrooms_per_room
0,14196,-117.22,32.75,34.0,6001.0,1111.0,2654.0,1072.0,4.5878,291000.0,NEAR OCEAN,5.597948,2.475746,0.185136
1,8267,-117.03,32.69,10.0,901.0,163.0,698.0,167.0,4.6648,156100.0,NEAR OCEAN,5.395210,4.179641,0.180910
2,17445,-122.27,37.74,28.0,6909.0,1554.0,2974.0,1484.0,3.6875,353900.0,NEAR BAY,4.655660,2.004043,0.224924
3,14265,-121.82,37.25,25.0,4021.0,634.0,2178.0,650.0,5.1663,241200.0,<1H OCEAN,6.186154,3.350769,0.157672
4,2271,-115.98,33.32,8.0,240.0,46.0,63.0,24.0,1.4688,53800.0,INLAND,10.000000,2.625000,0.191667

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                16512 non-null  int64
 1   longitude                 16512 non-null  float64
 2   latitude                  16512 non-null  float64
 3   housing_median_age        16512 non-null  float64
 4   total_rooms               16512 non-null  float64
 5   total_bedrooms            16512 non-null  float64
 6   population                16512 non-null  float64
 7   households                16512 non-null  float64
 8   median_income             16512 non-null  float64
 9   median_house_value        16512 non-null  float64
 10  ocean_proximity           16512 non-null  object
 11  room_per_household        16512 non-null  float64
 12  population_per_household  16512 non-null  float64
 13  total_bedrooms_per_room   16512 non-null  float64
dtypes: float64(12), int64(1), object(1)
memory usage: 1.8+ MB

In [8]:
df.columns

Index(['Unnamed: 0', 'longitude', 'latitude', 'housing_median_age',
       'total_rooms', 'total_bedrooms', 'population', 'households',
       'median_income', 'median_house_value', 'ocean_proximity',
       'room_per_household', 'population_per_household',
       'total_bedrooms_per_room'],
      dtype='object')

In [9]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,room_per_household,population_per_household,total_bedrooms_per_room
0,-117.22,32.75,34.0,6001.0,1111.0,2654.0,1072.0,4.5878,291000.0,NEAR OCEAN,5.597948,2.475746,0.185136
1,-117.03,32.69,10.0,901.0,163.0,698.0,167.0,4.6648,156100.0,NEAR OCEAN,5.395210,4.179641,0.180910
2,-122.27,37.74,28.0,6909.0,1554.0,2974.0,1484.0,3.6875,353900.0,NEAR BAY,4.655660,2.004043,0.224924
3,-121.82,37.25,25.0,4021.0,634.0,2178.0,650.0,5.1663,241200.0,<1H OCEAN,6.186154,3.350769,0.157672
4,-115.98,33.32,8.0,240.0,46.0,63.0,24.0,1.4688,53800.0,INLAND,10.000000,2.625000,0.191667

In [10]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity', 'room_per_household',
       'population_per_household', 'total_bedrooms_per_room'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   longitude                 16512 non-null  float64
 1   latitude                  16512 non-null  float64
 2   housing_median_age        16512 non-null  float64
 3   total_rooms               16512 non-null  float64
 4   total_bedrooms            16512 non-null  float64
 5   population                16512 non-null  float64
 6   households                16512 non-null  float64
 7   median_income             16512 non-null  float64
 8   median_house_value        16512 non-null  float64
 9   ocean_proximity           16512 non-null  object
 10  room_per_household        16512 non-null  float64
 11  population_per_household  16512 non-null  float64
 12  total_bedrooms_per_room   16512 non-null  float64
dtypes: float64(12), object(1)
memory usage: 1.6+ MB